:root {
  --border: #38444d;
  --blue-icon: #1da1f2;
  --bg-hover1: #1da0f218;
  --background: #15202b;
  --trends_p-arroba: #8899a6;
  --hover-container3: #74a9cc09;
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  background-color: var(--background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.gridLayout {
  display: grid;
  grid-template-areas: 'menu main aside';
  grid-template-columns: 23.5% 599.4px 1fr;
}

.fab {
  font-size: 1.7rem;
}

.container1 .far,
.container1 .fa-home,
.container1 .fa-hashtag {
  width: 45px;
  font-size: 1.5rem;
}

.container1 {
  width: 23.6%;
  display: flex;
  position: fixed;
  grid-area: menu;
  margin-left: 4.5%;
}

.container1 h3 {
  margin-top: 13px;
  margin-bottom: 30px;
}

.logo {
  padding: 10px;
  color: white;
  margin-left: 3px;
  border-radius: 50%;
  transition: all 0.2s;
  text-decoration: none;
}

.logo:hover {
  background-color: var(--bg-hover1);
}

.nav-items {
  color: white;
  border-radius: 30px;
  transition: all 0.2s;
  text-decoration: none;
  padding: 11px 25px 10px 13px;
}

.nav-items:hover {
  color: var(--blue-icon);
  background-color: var(--bg-hover1);
}

.container1 button {
  width: 211px;
  border: none;
  color: white;
  margin: 0 0 0 0;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  padding: 15.7px 25px;
  background-color: var(--blue-icon);
}

.container1 button:hover {
  cursor: pointer;
  transition: all 0.25s;
  background-color: #1da0f2e0;
}

.container2 {
  height: 100%;
  grid-area: main;
  border-left: 0.5px solid var(--border);
}

.main_header_cell {
  z-index: 1;
  width: 598px;
  height: 54px;
  position: fixed;
  background-color: var(--background);
  border-bottom: 0.5px solid var(--border);
}

.container2__h2 {
  margin-top: 0;
  font-size: 19px;
  font-weight: 1000;
  display: inline-block;
  padding: 16px 0 10px 15px;
}

.fa-star {
  padding: 10px;
  font-size: 19px;
}

.star {
  margin-left: 410px;
  border-radius: 50%;
  transition: all 0.2s;
  display: inline-block;
  color: var(--blue-icon);
}

.star:hover {
  background-color: var(--bg-hover1);
}

.main_grid {
  margin-top: 54px;
}

.whats_happening {
  height: 138px;
  position: relative;
  border-bottom: 10px solid #253341;
}

.main_profile {
  font-size: 50px;
  padding: 9px 0 0 16px;
}

.whats_happening input {
  width: 504px;
  border: none;
  color: white;
  font-size: 19px;
  font-weight: 400;
  position: absolute;
  margin: 22px 0 0 10.5px;
  background-color: var(--background);
}

.fa-image,
.fa-chart-bar,
.fa-smile {
  padding: 8px;
  font-size: 20px;
  margin-top: 80px;
  position: absolute;
  border-radius: 50%;
  transition: all 0.2s;
  display: inline-block;
  color: var(--blue-icon);
}

.fa-image {
  margin-left: 3px;
}

.fa-chart-bar {
  margin-left: 43px;
}

.fa-smile {
  margin-left: 83px;
}

.main_icons:hover {
  background-color: var(--bg-hover1);
}

.container3 {
  height: 100%;
  display: flex;
  grid-area: aside;
  align-items: top;
  flex-direction: column;
  border-left: 0.5px solid var(--border);
}

.busca_cell {
  z-index: 1;
  position: fixed;
  margin-bottom: 31.5px;
  background-color: var(--background);
}

.busca {
  width: 350px;
  height: 42px;
  border: none;
  color: #d8dada;
  padding-left: 50px;
  border-radius: 30px;
  margin: 6px 12.1% 5px 30px;
  background-color: #253341;
}

.fa-search {
  font-size: 17px;
}

.lupa {
  color: #cecfcf;
  position: absolute;
  margin: 18px 0 0px 47px;
}

.busca:focus {
  outline: none;
  border: solid 1px var(--blue-icon);
  background-color: var(--background);
}

.trends {
  max-width: 350px;
  height: 518px;
  display: grid;
  border-radius: 14px;
  background-color: #192734;
  margin: 63px 52px 15px 30px;
  grid-template-columns: 350px;
  grid-template-rows: 46px repeat(5, minmax(0, 1fr)) 52px;
}

.trends_header {
  padding: 0;
  margin: 0 1px;
}

.trends h2 {
  margin: 0 1px;
  font-size: 19px;
  font-weight: 800;
  display: inline-block;
  padding: 12px 0 14px 14px;
}

.trending_topics {
  margin: 0 1px;
  transition: all 0.2s;
  padding: 12px 0 14px 14px;
  border-top: 0.5px solid var(--border);
}

.trends p {
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 0 1px;
  color: var(--trends_p-arroba);
}

.trends h4 {
  margin: 4px 0 4px 1px;
}

.trending_topics:hover {
  cursor: pointer;
  background-color: var(--hover-container3);
}

.fa-cog {
  padding: 10px;
  font-size: 19px;
}

.trends span {
  margin-left: 29.5%;
}

.engrenagem {
  border-radius: 50%;
  transition: all 0.2s;
  display: inline-block;
  text-decoration: none;
  color: var(--blue-icon);
}

.engrenagem:hover {
  background-color: var(--bg-hover1);
}

.show_more {
  margin: 0 1px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: var(--blue-icon);
  padding: 16px 0 14px 15px;
  border-top: 0.5px solid var(--border);
}

.show_more:hover {
  border-radius: 0 0 14px 14px;
  background-color: var(--hover-container3);
}

.who_follow {
  max-width: 350px;
  height: 305px;
  display: grid;
  border-radius: 14px;
  margin: 0px 12.1% 15px 30px;
  background-color: #192734;
  grid-template-columns: 350px;
  grid-template-rows: 46px repeat(3, minmax(0, 1fr)) 52px;
}

.who_follow h2 {
  margin: 0 1px;
  font-size: 19px;
  font-weight: 800;
  padding: 12px 0 14px 14px;
}

.sugest {
  margin: 0 1px;
  display: flex;
  position: relative;
  transition: all 0.2s;
  border-top: 0.5px solid var(--border);
}

.sugest i {
  width: 45px;
  font-size: 50px;
  padding: 10px 0 10px 15px;
}

.sugest p {
  padding: 0;
  font-size: 15px;
  font-weight: 700;
  margin-left: 30px;
}

.sugest:hover {
  cursor: pointer;
  background-color: var(--hover-container3);
}

.arroba {
  font-size: 13px;
  position: absolute;
  margin: 20.5px 0 0 44px;
  color: var(--trends_p-arroba);
}

.arroba p {
  font-weight: 400;
}

/* essa parte aí em baixo tá tão errada */

.sugest button {
  height: 30px;
  font-size: 15px;
  padding: 0 15px;
  color: #1da1f2;
  font-weight: bold;
  border-radius: 15px;
  margin: 20px 15px 0 83px;
  border: 1px solid #1da1f2;
  background-color: transparent;
}

.sugest button:hover {
  cursor: pointer;
  transition: all 0.25s;
  background-color: #1da0f21a;
}

.sugest_2 button {
  margin-left: 136px;
}

.sugest_3 button {
  margin-left: 148px;
}

/* até aqui */
